@page "/"
@using Hipparu.Shared
@using Plk.Blazor.DragDrop
@inject HttpClient Http

<div class="@menuVisibility">
    <button class="btn btn-primary" @onclick="()=>SelectMode(1)">Hiragana</button>
    <button class="btn btn-primary" @onclick="()=>SelectMode(2)">Katakana</button>
    <button class="btn btn-primary" @onclick="()=>SelectMode(3)">Mixed</button>
</div>
<br />
<div class="@gameVisibility">
    <div class="plk-flex">
        <Dropzone class="flex-container" Items="AnswerList" TItem="AnswerItem" OnItemDropRejected="@((i)=>LastDropped = i)">
            <div class="flex-item">
                @if (textState == TextState.HiraganaMode)
                {
                    @context.RomajiScript 
                }
                else
                {
                    @context.KatakanaScript
                }
            </div>   
        </Dropzone>
    </div>
    <div class="divTable blueTable">
        <div class="divTableHeading">
            <div class="divTableRow">
            <div class="divTableHead">head1</div>
            <div class="divTableHead">head2</div>
            </div>
            </div>
            <div class="divTableBody">
                <div class="divTableRow">
                    <div class="divTableCell">
                        <Dropzone class="answer-container" Items="WaList" TItem="AnswerItem" OnItemDropRejected="@((i)=>LastDropped = i)">    
                            <div class="flex-item">
                                @if (textState == TextState.HiraganaMode)
                                {
                                    @context.RomajiScript 
                                }
                                else
                                {
                                    @context.KatakanaScript
                                }
                            </div> 
                        </Dropzone>
                    </div>
                    <div class="divTableCell">cell2_1</div>
                </div>
                <div class="divTableRow">
                    <div class="divTableCell">cell1_2</div>
                    <div class="divTableCell">cell2_2</div>
                </div>
        </div>
    </div>
    <div class="@mixedButtonVisibility">
        <button class="btn btn-secondary" @onclick="SwapKana">Swap Kana</button>
    </div>
    <button class="btn btn-primary" @onclick="SwapBetweenGameAndMenu">Reset</button>
</div>


@code{
    // Unfortunately the http client doesn't seem to want to work in the code behind file
    // So we've got to do this weirdness
    protected override async Task OnInitializedAsync()
    {
        masterAnswers = await Http.GetFromJsonAsync<Answers>("data/CharacterList.json");
    }
}