@page "/"
@using Hipparu.Shared
@using Plk.Blazor.DragDrop
@inject HttpClient Http

<div class="@menuVisibility">
<h3>Best times</h3>
    <table>
        <tbody>
            <tr>
                <td>Hiragana</td>
                <td>Katakana</td>
                <td>Mixed</td>
            </tr>
            <tr>
                <td>@bestHiraganaTime</td>
                <td>@bestKatakanaTime</td>
                <td>@bestMixedTime</td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-primary" @onclick="()=>SelectMode(1)">Hiragana</button>
    <button class="btn btn-primary" @onclick="()=>SelectMode(2)">Katakana</button>
    <button class="btn btn-primary" @onclick="()=>SelectMode(3)">Mixed</button>
</div>
<br />
<div class="@gameVisibility">
    @if (LastDropped != null)
    {
        <div class="bg-warning">That's not where
            @if (textState == TextState.HiraganaMode)
                {
                    @LastDropped.HiraganaScript 
                }
                else
                {
                    @LastDropped.KatakanaScript
                } 
        goes.</div>
    }
    @if (ActiveMaxItemWarning)
    {
        <div class="bg-warning">You've already populated this square.</div>
    }
    @if (PlacingItemBackWarning)
    {
        <div class="bg-warning">You can't place items back in the answer list.</div>
    }
    @if (HasWonGame)
    {
        <div class="bg-success">You did the thing.</div>
    }
    <p>@gameTimer</p>
    <div class="float-container">
        <div class="float-child">
            <div class="plk-flex">
                <Dropzone class="flex-container" Items="AnswerList" TItem="AnswerItem" OnItemDropRejected="ShowPlacingBackWarning" Accepts='(d, t) => d.RomajiScript.Equals("This Dropzone is only for one way but we cant outright disable accepting things so we only accept this message instead")'>
                    <div class="flex-item">
                        @if (textState == TextState.HiraganaMode)
                        {
                            @context.HiraganaScript 
                        }
                        else
                        {
                            @context.KatakanaScript
                        }
                    </div>   
                </Dropzone>
            </div>
        </div>
        <div class="float-child">
            <div class="divTable lightTable">
                <div class="divTableHeading">
                    <div class="divTableRow">
                        <div class="divTableHead"> </div>
                        <div class="divTableHead">∅</div>
                        <div class="divTableHead">K</div> 
                        <div class="divTableHead">G</div>
                        <div class="divTableHead">S</div> 
                        <div class="divTableHead">Z</div>
                        <div class="divTableHead">T</div> 
                        <div class="divTableHead">D</div>
                        <div class="divTableHead">N</div> 
                        <div class="divTableHead">H</div>
                        <div class="divTableHead">B</div> 
                        <div class="divTableHead">P</div>
                        <div class="divTableHead">M</div> 
                        <div class="divTableHead">Y</div>
                        <div class="divTableHead">R</div> 
                        <div class="divTableHead">W</div>
                    </div>
                </div>
                <div class="divTableBody">
                    <!--First row-->
                    <div class="divTableRow">
                        <div class="divTableRowHead">A</div>
                        <div class="divTableCell">
                            <Dropzone class="answer-container" Items="AList"  TItem="AnswerItem" Accepts='(d, t) => d.RomajiScript.Equals("a")' OnItemDropRejected="@((i)=>LastDropped = i)" MaxItems="1" OnItemDropRejectedByMaxItemLimit="ShowMaxItemWarning" OnItemDrop="@((i) => SuccessfulDrop())" >    
                                <div class="flex-item">
                                    @if (textState == TextState.HiraganaMode)
                                    {
                                        @context.HiraganaScript
                                    }
                                    else
                                    {
                                        @context.KatakanaScript
                                    }
                                </div> 
                            </Dropzone>
                        </div>
                        <div class="divTableCell">
                            <Dropzone class="answer-container" Items="KaList" TItem="AnswerItem" Accepts='(d, t) => d.RomajiScript.Equals("ka")' OnItemDropRejected="@((i)=>LastDropped = i)" MaxItems="1" OnItemDropRejectedByMaxItemLimit="ShowMaxItemWarning" OnItemDrop="@((i) => SuccessfulDrop())" >    
                                <div class="flex-item">
                                    @if (textState == TextState.HiraganaMode)
                                    {
                                        @context.HiraganaScript 
                                    }
                                    else
                                    {
                                        @context.KatakanaScript
                                    }
                                </div> 
                            </Dropzone>
                        </div>
                        <div class="divTableCell">
                            <Dropzone class="answer-container" Items="GaList" TItem="AnswerItem" Accepts='(d, t) => d.RomajiScript.Equals("ga")' OnItemDropRejected="@((i)=>LastDropped = i)" MaxItems="1" OnItemDropRejectedByMaxItemLimit="ShowMaxItemWarning" OnItemDrop="@((i) => SuccessfulDrop())" >    
                                <div class="flex-item">
                                    @if (textState == TextState.HiraganaMode)
                                    {
                                        @context.HiraganaScript 
                                    }
                                    else
                                    {
                                        @context.KatakanaScript
                                    }
                                </div> 
                            </Dropzone>
                        </div>
                        <div class="divTableCell">
                            <Dropzone class="answer-container" Items="SaList" TItem="AnswerItem" Accepts='(d, t) => d.RomajiScript.Equals("sa")' OnItemDropRejected="@((i)=>LastDropped = i)" MaxItems="1" OnItemDropRejectedByMaxItemLimit="ShowMaxItemWarning" OnItemDrop="@((i) => SuccessfulDrop())" >    
                                <div class="flex-item">
                                    @if (textState == TextState.HiraganaMode)
                                    {
                                        @context.HiraganaScript 
                                    }
                                    else
                                    {
                                        @context.KatakanaScript
                                    }
                                </div> 
                            </Dropzone>
                        </div>
                        <div class="divTableCell">
                            <Dropzone class="answer-container" Items="ZaList"  TItem="AnswerItem" Accepts='(d, t) => d.RomajiScript.Equals("za")' OnItemDropRejected="@((i)=>LastDropped = i)" MaxItems="1" OnItemDropRejectedByMaxItemLimit="ShowMaxItemWarning" OnItemDrop="@((i) => SuccessfulDrop())" >    
                                <div class="flex-item">
                                    @if (textState == TextState.HiraganaMode)
                                    {
                                        @context.HiraganaScript
                                    }
                                    else
                                    {
                                        @context.KatakanaScript
                                    }
                                </div> 
                            </Dropzone>
                        </div>
                        <div class="divTableCell">
                            <Dropzone class="answer-container" Items="TaList" TItem="AnswerItem" Accepts='(d, t) => d.RomajiScript.Equals("ta")' OnItemDropRejected="@((i)=>LastDropped = i)" MaxItems="1" OnItemDropRejectedByMaxItemLimit="ShowMaxItemWarning" OnItemDrop="@((i) => SuccessfulDrop())" >    
                                <div class="flex-item">
                                    @if (textState == TextState.HiraganaMode)
                                    {
                                        @context.HiraganaScript 
                                    }
                                    else
                                    {
                                        @context.KatakanaScript
                                    }
                                </div> 
                            </Dropzone>
                        </div>
                        <div class="divTableCell">
                            <Dropzone class="answer-container" Items="DaList" TItem="AnswerItem" Accepts='(d, t) => d.RomajiScript.Equals("da")' OnItemDropRejected="@((i)=>LastDropped = i)" MaxItems="1" OnItemDropRejectedByMaxItemLimit="ShowMaxItemWarning" OnItemDrop="@((i) => SuccessfulDrop())" >    
                                <div class="flex-item">
                                    @if (textState == TextState.HiraganaMode)
                                    {
                                        @context.HiraganaScript 
                                    }
                                    else
                                    {
                                        @context.KatakanaScript
                                    }
                                </div> 
                            </Dropzone>
                        </div>
                        <div class="divTableCell">
                            <Dropzone class="answer-container" Items="NaList" TItem="AnswerItem" Accepts='(d, t) => d.RomajiScript.Equals("na")' OnItemDropRejected="@((i)=>LastDropped = i)" MaxItems="1" OnItemDropRejectedByMaxItemLimit="ShowMaxItemWarning" OnItemDrop="@((i) => SuccessfulDrop())" >    
                                <div class="flex-item">
                                    @if (textState == TextState.HiraganaMode)
                                    {
                                        @context.HiraganaScript 
                                    }
                                    else
                                    {
                                        @context.KatakanaScript
                                    }
                                </div> 
                            </Dropzone>
                        </div>
                        <div class="divTableCell">
                            <Dropzone class="answer-container" Items="HaList"  TItem="AnswerItem" Accepts='(d, t) => d.RomajiScript.Equals("ha")' OnItemDropRejected="@((i)=>LastDropped = i)" MaxItems="1" OnItemDropRejectedByMaxItemLimit="ShowMaxItemWarning" OnItemDrop="@((i) => SuccessfulDrop())" >    
                                <div class="flex-item">
                                    @if (textState == TextState.HiraganaMode)
                                    {
                                        @context.HiraganaScript
                                    }
                                    else
                                    {
                                        @context.KatakanaScript
                                    }
                                </div> 
                            </Dropzone>
                        </div>
                        <div class="divTableCell">
                            <Dropzone class="answer-container" Items="BaList" TItem="AnswerItem" Accepts='(d, t) => d.RomajiScript.Equals("ba")' OnItemDropRejected="@((i)=>LastDropped = i)" MaxItems="1" OnItemDropRejectedByMaxItemLimit="ShowMaxItemWarning" OnItemDrop="@((i) => SuccessfulDrop())" >    
                                <div class="flex-item">
                                    @if (textState == TextState.HiraganaMode)
                                    {
                                        @context.HiraganaScript 
                                    }
                                    else
                                    {
                                        @context.KatakanaScript
                                    }
                                </div> 
                            </Dropzone>
                        </div>
                        <div class="divTableCell">
                            <Dropzone class="answer-container" Items="PaList" TItem="AnswerItem" Accepts='(d, t) => d.RomajiScript.Equals("pa")' OnItemDropRejected="@((i)=>LastDropped = i)" MaxItems="1" OnItemDropRejectedByMaxItemLimit="ShowMaxItemWarning" OnItemDrop="@((i) => SuccessfulDrop())" >    
                                <div class="flex-item">
                                    @if (textState == TextState.HiraganaMode)
                                    {
                                        @context.HiraganaScript 
                                    }
                                    else
                                    {
                                        @context.KatakanaScript
                                    }
                                </div> 
                            </Dropzone>
                        </div>
                        <div class="divTableCell">
                            <Dropzone class="answer-container" Items="MaList" TItem="AnswerItem" Accepts='(d, t) => d.RomajiScript.Equals("ma")' OnItemDropRejected="@((i)=>LastDropped = i)" MaxItems="1" OnItemDropRejectedByMaxItemLimit="ShowMaxItemWarning" OnItemDrop="@((i) => SuccessfulDrop())" >    
                                <div class="flex-item">
                                    @if (textState == TextState.HiraganaMode)
                                    {
                                        @context.HiraganaScript 
                                    }
                                    else
                                    {
                                        @context.KatakanaScript
                                    }
                                </div> 
                            </Dropzone>
                        </div>
                        <div class="divTableCell">
                            <Dropzone class="answer-container" Items="YaList" TItem="AnswerItem" Accepts='(d, t) => d.RomajiScript.Equals("ya")' OnItemDropRejected="@((i)=>LastDropped = i)" MaxItems="1" OnItemDropRejectedByMaxItemLimit="ShowMaxItemWarning" OnItemDrop="@((i) => SuccessfulDrop())" >    
                                <div class="flex-item">
                                    @if (textState == TextState.HiraganaMode)
                                    {
                                        @context.HiraganaScript 
                                    }
                                    else
                                    {
                                        @context.KatakanaScript
                                    }
                                </div> 
                            </Dropzone>
                        </div>
                        <div class="divTableCell">
                            <Dropzone class="answer-container" Items="RaList" TItem="AnswerItem" Accepts='(d, t) => d.RomajiScript.Equals("ra")' OnItemDropRejected="@((i)=>LastDropped = i)" MaxItems="1" OnItemDropRejectedByMaxItemLimit="ShowMaxItemWarning" OnItemDrop="@((i) => SuccessfulDrop())" >    
                                <div class="flex-item">
                                    @if (textState == TextState.HiraganaMode)
                                    {
                                        @context.HiraganaScript 
                                    }
                                    else
                                    {
                                        @context.KatakanaScript
                                    }
                                </div> 
                            </Dropzone>
                        </div>
                        <div class="divTableCell">
                            <Dropzone class="answer-container" Items="WaList" TItem="AnswerItem" Accepts='(d, t) => d.RomajiScript.Equals("wa")' OnItemDropRejected="@((i)=>LastDropped = i)" MaxItems="1" OnItemDropRejectedByMaxItemLimit="ShowMaxItemWarning" OnItemDrop="@((i) => SuccessfulDrop())" >    
                                <div class="flex-item">
                                    @if (textState == TextState.HiraganaMode)
                                    {
                                        @context.HiraganaScript 
                                    }
                                    else
                                    {
                                        @context.KatakanaScript
                                    }
                                </div> 
                            </Dropzone>
                        </div>
                    </div>
                    <!--Second row-->
                    <div class="divTableRow">
                        <div class="divTableRowHead">I</div>
                        <div class="divTableCell">
                            <Dropzone class="answer-container" Items="IList"  TItem="AnswerItem" Accepts='(d, t) => d.RomajiScript.Equals("i")' OnItemDropRejected="@((i)=>LastDropped = i)" MaxItems="1" OnItemDropRejectedByMaxItemLimit="ShowMaxItemWarning" OnItemDrop="@((i) => SuccessfulDrop())" >    
                                <div class="flex-item">
                                    @if (textState == TextState.HiraganaMode)
                                    {
                                        @context.HiraganaScript
                                    }
                                    else
                                    {
                                        @context.KatakanaScript
                                    }
                                </div> 
                            </Dropzone>
                        </div>
                        <div class="divTableCell">
                            <Dropzone class="answer-container" Items="KiList" TItem="AnswerItem" Accepts='(d, t) => d.RomajiScript.Equals("ki")' OnItemDropRejected="@((i)=>LastDropped = i)" MaxItems="1" OnItemDropRejectedByMaxItemLimit="ShowMaxItemWarning" OnItemDrop="@((i) => SuccessfulDrop())" >    
                                <div class="flex-item">
                                    @if (textState == TextState.HiraganaMode)
                                    {
                                        @context.HiraganaScript 
                                    }
                                    else
                                    {
                                        @context.KatakanaScript
                                    }
                                </div> 
                            </Dropzone>
                        </div>
                        <div class="divTableCell">
                            <Dropzone class="answer-container" Items="GiList" TItem="AnswerItem" Accepts='(d, t) => d.RomajiScript.Equals("gi")' OnItemDropRejected="@((i)=>LastDropped = i)" MaxItems="1" OnItemDropRejectedByMaxItemLimit="ShowMaxItemWarning" OnItemDrop="@((i) => SuccessfulDrop())" >    
                                <div class="flex-item">
                                    @if (textState == TextState.HiraganaMode)
                                    {
                                        @context.HiraganaScript 
                                    }
                                    else
                                    {
                                        @context.KatakanaScript
                                    }
                                </div> 
                            </Dropzone>
                        </div>
                        <div class="divTableCell">
                            <Dropzone class="answer-container" Items="ShiList" TItem="AnswerItem" Accepts='(d, t) => d.RomajiScript.Equals("shi")' OnItemDropRejected="@((i)=>LastDropped = i)" MaxItems="1" OnItemDropRejectedByMaxItemLimit="ShowMaxItemWarning" OnItemDrop="@((i) => SuccessfulDrop())" >    
                                <div class="flex-item">
                                    @if (textState == TextState.HiraganaMode)
                                    {
                                        @context.HiraganaScript 
                                    }
                                    else
                                    {
                                        @context.KatakanaScript
                                    }
                                </div> 
                            </Dropzone>
                        </div>
                        <div class="divTableCell">
                            <Dropzone class="answer-container" Items="JiList"  TItem="AnswerItem" Accepts='(d, t) => d.RomajiScript.Equals("zi")' OnItemDropRejected="@((i)=>LastDropped = i)" MaxItems="1" OnItemDropRejectedByMaxItemLimit="ShowMaxItemWarning" OnItemDrop="@((i) => SuccessfulDrop())" >    
                                <div class="flex-item">
                                    @if (textState == TextState.HiraganaMode)
                                    {
                                        @context.HiraganaScript
                                    }
                                    else
                                    {
                                        @context.KatakanaScript
                                    }
                                </div> 
                            </Dropzone>
                        </div>
                        <div class="divTableCell">
                            <Dropzone class="answer-container" Items="ChiList" TItem="AnswerItem" Accepts='(d, t) => d.RomajiScript.Equals("chi")' OnItemDropRejected="@((i)=>LastDropped = i)" MaxItems="1" OnItemDropRejectedByMaxItemLimit="ShowMaxItemWarning" OnItemDrop="@((i) => SuccessfulDrop())" >    
                                <div class="flex-item">
                                    @if (textState == TextState.HiraganaMode)
                                    {
                                        @context.HiraganaScript 
                                    }
                                    else
                                    {
                                        @context.KatakanaScript
                                    }
                                </div> 
                            </Dropzone>
                        </div>
                        <div class="divEmptyTableCell"></div>
                        <div class="divTableCell">
                            <Dropzone class="answer-container" Items="NiList" TItem="AnswerItem" Accepts='(d, t) => d.RomajiScript.Equals("ni")' OnItemDropRejected="@((i)=>LastDropped = i)" MaxItems="1" OnItemDropRejectedByMaxItemLimit="ShowMaxItemWarning" OnItemDrop="@((i) => SuccessfulDrop())" >    
                                <div class="flex-item">
                                    @if (textState == TextState.HiraganaMode)
                                    {
                                        @context.HiraganaScript 
                                    }
                                    else
                                    {
                                        @context.KatakanaScript
                                    }
                                </div> 
                            </Dropzone>
                        </div>
                        <div class="divTableCell">
                            <Dropzone class="answer-container" Items="HiList"  TItem="AnswerItem" Accepts='(d, t) => d.RomajiScript.Equals("hi")' OnItemDropRejected="@((i)=>LastDropped = i)" MaxItems="1" OnItemDropRejectedByMaxItemLimit="ShowMaxItemWarning" OnItemDrop="@((i) => SuccessfulDrop())" >    
                                <div class="flex-item">
                                    @if (textState == TextState.HiraganaMode)
                                    {
                                        @context.HiraganaScript
                                    }
                                    else
                                    {
                                        @context.KatakanaScript
                                    }
                                </div> 
                            </Dropzone>
                        </div>
                        <div class="divTableCell">
                            <Dropzone class="answer-container" Items="BiList" TItem="AnswerItem" Accepts='(d, t) => d.RomajiScript.Equals("bi")' OnItemDropRejected="@((i)=>LastDropped = i)" MaxItems="1" OnItemDropRejectedByMaxItemLimit="ShowMaxItemWarning" OnItemDrop="@((i) => SuccessfulDrop())" >    
                                <div class="flex-item">
                                    @if (textState == TextState.HiraganaMode)
                                    {
                                        @context.HiraganaScript 
                                    }
                                    else
                                    {
                                        @context.KatakanaScript
                                    }
                                </div> 
                            </Dropzone>
                        </div>
                        <div class="divTableCell">
                            <Dropzone class="answer-container" Items="PiList" TItem="AnswerItem" Accepts='(d, t) => d.RomajiScript.Equals("pi")' OnItemDropRejected="@((i)=>LastDropped = i)" MaxItems="1" OnItemDropRejectedByMaxItemLimit="ShowMaxItemWarning" OnItemDrop="@((i) => SuccessfulDrop())" >    
                                <div class="flex-item">
                                    @if (textState == TextState.HiraganaMode)
                                    {
                                        @context.HiraganaScript 
                                    }
                                    else
                                    {
                                        @context.KatakanaScript
                                    }
                                </div> 
                            </Dropzone>
                        </div>
                        <div class="divTableCell">
                            <Dropzone class="answer-container" Items="MiList" TItem="AnswerItem" Accepts='(d, t) => d.RomajiScript.Equals("mi")' OnItemDropRejected="@((i)=>LastDropped = i)" MaxItems="1" OnItemDropRejectedByMaxItemLimit="ShowMaxItemWarning" OnItemDrop="@((i) => SuccessfulDrop())" >    
                                <div class="flex-item">
                                    @if (textState == TextState.HiraganaMode)
                                    {
                                        @context.HiraganaScript 
                                    }
                                    else
                                    {
                                        @context.KatakanaScript
                                    }
                                </div> 
                            </Dropzone>
                        </div>
                        <div class="divEmptyTableCell"></div>
                        <div class="divTableCell">
                            <Dropzone class="answer-container" Items="RiList" TItem="AnswerItem" Accepts='(d, t) => d.RomajiScript.Equals("ri")' OnItemDropRejected="@((i)=>LastDropped = i)" MaxItems="1" OnItemDropRejectedByMaxItemLimit="ShowMaxItemWarning" OnItemDrop="@((i) => SuccessfulDrop())" >    
                                <div class="flex-item">
                                    @if (textState == TextState.HiraganaMode)
                                    {
                                        @context.HiraganaScript 
                                    }
                                    else
                                    {
                                        @context.KatakanaScript
                                    }
                                </div> 
                            </Dropzone>
                        </div>
                        <div class="divEmptyTableCell"></div>
                        <div class="divNHead">(N)</div>
                    </div>
                    <!--Third row-->
                    <div class="divTableRow">
                        <div class="divTableRowHead">U</div>
                        <div class="divTableCell">
                            <Dropzone class="answer-container" Items="UList"  TItem="AnswerItem" Accepts='(d, t) => d.RomajiScript.Equals("u")' OnItemDropRejected="@((i)=>LastDropped = i)" MaxItems="1" OnItemDropRejectedByMaxItemLimit="ShowMaxItemWarning" OnItemDrop="@((i) => SuccessfulDrop())" >    
                                <div class="flex-item">
                                    @if (textState == TextState.HiraganaMode)
                                    {
                                        @context.HiraganaScript
                                    }
                                    else
                                    {
                                        @context.KatakanaScript
                                    }
                                </div> 
                            </Dropzone>
                        </div>
                        <div class="divTableCell">
                            <Dropzone class="answer-container" Items="KuList" TItem="AnswerItem" Accepts='(d, t) => d.RomajiScript.Equals("ku")' OnItemDropRejected="@((i)=>LastDropped = i)" MaxItems="1" OnItemDropRejectedByMaxItemLimit="ShowMaxItemWarning" OnItemDrop="@((i) => SuccessfulDrop())" >    
                                <div class="flex-item">
                                    @if (textState == TextState.HiraganaMode)
                                    {
                                        @context.HiraganaScript 
                                    }
                                    else
                                    {
                                        @context.KatakanaScript
                                    }
                                </div> 
                            </Dropzone>
                        </div>
                        <div class="divTableCell">
                            <Dropzone class="answer-container" Items="GuList" TItem="AnswerItem" Accepts='(d, t) => d.RomajiScript.Equals("gu")' OnItemDropRejected="@((i)=>LastDropped = i)" MaxItems="1" OnItemDropRejectedByMaxItemLimit="ShowMaxItemWarning" OnItemDrop="@((i) => SuccessfulDrop())" >    
                                <div class="flex-item">
                                    @if (textState == TextState.HiraganaMode)
                                    {
                                        @context.HiraganaScript 
                                    }
                                    else
                                    {
                                        @context.KatakanaScript
                                    }
                                </div> 
                            </Dropzone>
                        </div>
                        <div class="divTableCell">
                            <Dropzone class="answer-container" Items="SuList" TItem="AnswerItem" Accepts='(d, t) => d.RomajiScript.Equals("su")' OnItemDropRejected="@((i)=>LastDropped = i)" MaxItems="1" OnItemDropRejectedByMaxItemLimit="ShowMaxItemWarning" OnItemDrop="@((i) => SuccessfulDrop())" >    
                                <div class="flex-item">
                                    @if (textState == TextState.HiraganaMode)
                                    {
                                        @context.HiraganaScript 
                                    }
                                    else
                                    {
                                        @context.KatakanaScript
                                    }
                                </div> 
                            </Dropzone>
                        </div>
                        <div class="divTableCell">
                            <Dropzone class="answer-container" Items="ZuList"  TItem="AnswerItem" Accepts='(d, t) => d.RomajiScript.Equals("zu")' OnItemDropRejected="@((i)=>LastDropped = i)" MaxItems="1" OnItemDropRejectedByMaxItemLimit="ShowMaxItemWarning" OnItemDrop="@((i) => SuccessfulDrop())" >    
                                <div class="flex-item">
                                    @if (textState == TextState.HiraganaMode)
                                    {
                                        @context.HiraganaScript
                                    }
                                    else
                                    {
                                        @context.KatakanaScript
                                    }
                                </div> 
                            </Dropzone>
                        </div>
                        <div class="divTableCell">
                            <Dropzone class="answer-container" Items="TsuList" TItem="AnswerItem" Accepts='(d, t) => d.RomajiScript.Equals("tsu")' OnItemDropRejected="@((i)=>LastDropped = i)" MaxItems="1" OnItemDropRejectedByMaxItemLimit="ShowMaxItemWarning" OnItemDrop="@((i) => SuccessfulDrop())" >    
                                <div class="flex-item">
                                    @if (textState == TextState.HiraganaMode)
                                    {
                                        @context.HiraganaScript 
                                    }
                                    else
                                    {
                                        @context.KatakanaScript
                                    }
                                </div> 
                            </Dropzone>
                        </div>
                        <div class="divEmptyTableCell"></div>
                        <div class="divTableCell">
                            <Dropzone class="answer-container" Items="NuList" TItem="AnswerItem" Accepts='(d, t) => d.RomajiScript.Equals("nu")' OnItemDropRejected="@((i)=>LastDropped = i)" MaxItems="1" OnItemDropRejectedByMaxItemLimit="ShowMaxItemWarning" OnItemDrop="@((i) => SuccessfulDrop())" >    
                                <div class="flex-item">
                                    @if (textState == TextState.HiraganaMode)
                                    {
                                        @context.HiraganaScript 
                                    }
                                    else
                                    {
                                        @context.KatakanaScript
                                    }
                                </div> 
                            </Dropzone>
                        </div>
                        <div class="divTableCell">
                            <Dropzone class="answer-container" Items="FuList"  TItem="AnswerItem" Accepts='(d, t) => d.RomajiScript.Equals("fu")' OnItemDropRejected="@((i)=>LastDropped = i)" MaxItems="1" OnItemDropRejectedByMaxItemLimit="ShowMaxItemWarning" OnItemDrop="@((i) => SuccessfulDrop())" >    
                                <div class="flex-item">
                                    @if (textState == TextState.HiraganaMode)
                                    {
                                        @context.HiraganaScript
                                    }
                                    else
                                    {
                                        @context.KatakanaScript
                                    }
                                </div> 
                            </Dropzone>
                        </div>
                        <div class="divTableCell">
                            <Dropzone class="answer-container" Items="BuList" TItem="AnswerItem" Accepts='(d, t) => d.RomajiScript.Equals("bu")' OnItemDropRejected="@((i)=>LastDropped = i)" MaxItems="1" OnItemDropRejectedByMaxItemLimit="ShowMaxItemWarning" OnItemDrop="@((i) => SuccessfulDrop())" >    
                                <div class="flex-item">
                                    @if (textState == TextState.HiraganaMode)
                                    {
                                        @context.HiraganaScript 
                                    }
                                    else
                                    {
                                        @context.KatakanaScript
                                    }
                                </div> 
                            </Dropzone>
                        </div>
                        <div class="divTableCell">
                            <Dropzone class="answer-container" Items="PuList" TItem="AnswerItem" Accepts='(d, t) => d.RomajiScript.Equals("pu")' OnItemDropRejected="@((i)=>LastDropped = i)" MaxItems="1" OnItemDropRejectedByMaxItemLimit="ShowMaxItemWarning" OnItemDrop="@((i) => SuccessfulDrop())" >    
                                <div class="flex-item">
                                    @if (textState == TextState.HiraganaMode)
                                    {
                                        @context.HiraganaScript 
                                    }
                                    else
                                    {
                                        @context.KatakanaScript
                                    }
                                </div> 
                            </Dropzone>
                        </div>
                        <div class="divTableCell">
                            <Dropzone class="answer-container" Items="MuList" TItem="AnswerItem" Accepts='(d, t) => d.RomajiScript.Equals("mu")' OnItemDropRejected="@((i)=>LastDropped = i)" MaxItems="1" OnItemDropRejectedByMaxItemLimit="ShowMaxItemWarning" OnItemDrop="@((i) => SuccessfulDrop())" >    
                                <div class="flex-item">
                                    @if (textState == TextState.HiraganaMode)
                                    {
                                        @context.HiraganaScript 
                                    }
                                    else
                                    {
                                        @context.KatakanaScript
                                    }
                                </div> 
                            </Dropzone>
                        </div>
                        <div class="divTableCell">
                            <Dropzone class="answer-container" Items="YuList" TItem="AnswerItem" Accepts='(d, t) => d.RomajiScript.Equals("yu")' OnItemDropRejected="@((i)=>LastDropped = i)" MaxItems="1" OnItemDropRejectedByMaxItemLimit="ShowMaxItemWarning" OnItemDrop="@((i) => SuccessfulDrop())" >    
                                <div class="flex-item">
                                    @if (textState == TextState.HiraganaMode)
                                    {
                                        @context.HiraganaScript 
                                    }
                                    else
                                    {
                                        @context.KatakanaScript
                                    }
                                </div> 
                            </Dropzone>
                        </div>
                        <div class="divTableCell">
                            <Dropzone class="answer-container" Items="RuList" TItem="AnswerItem" Accepts='(d, t) => d.RomajiScript.Equals("ru")' OnItemDropRejected="@((i)=>LastDropped = i)" MaxItems="1" OnItemDropRejectedByMaxItemLimit="ShowMaxItemWarning" OnItemDrop="@((i) => SuccessfulDrop())" >    
                                <div class="flex-item">
                                    @if (textState == TextState.HiraganaMode)
                                    {
                                        @context.HiraganaScript 
                                    }
                                    else
                                    {
                                        @context.KatakanaScript
                                    }
                                </div> 
                            </Dropzone>
                        </div>
                        <div class="divEmptyTableCell"></div>
                        <div class="divTableCell">
                            <Dropzone class="answer-container" Items="NList" TItem="AnswerItem" Accepts='(d, t) => d.RomajiScript.Equals("n")' OnItemDropRejected="@((i)=>LastDropped = i)" MaxItems="1" OnItemDropRejectedByMaxItemLimit="ShowMaxItemWarning" OnItemDrop="@((i) => SuccessfulDrop())" >    
                                <div class="flex-item">
                                    @if (textState == TextState.HiraganaMode)
                                    {
                                        @context.HiraganaScript 
                                    }
                                    else
                                    {
                                        @context.KatakanaScript
                                    }
                                </div> 
                            </Dropzone>
                        </div>
                    </div>
                    <!--Fourth row-->
                    <div class="divTableRow">
                        <div class="divTableRowHead">E</div>
                        <div class="divTableCell">
                            <Dropzone class="answer-container" Items="EList"  TItem="AnswerItem" Accepts='(d, t) => d.RomajiScript.Equals("e")' OnItemDropRejected="@((i)=>LastDropped = i)" MaxItems="1" OnItemDropRejectedByMaxItemLimit="ShowMaxItemWarning" OnItemDrop="@((i) => SuccessfulDrop())" >    
                                <div class="flex-item">
                                    @if (textState == TextState.HiraganaMode)
                                    {
                                        @context.HiraganaScript
                                    }
                                    else
                                    {
                                        @context.KatakanaScript
                                    }
                                </div> 
                            </Dropzone>
                        </div>
                        <div class="divTableCell">
                            <Dropzone class="answer-container" Items="KeList" TItem="AnswerItem" Accepts='(d, t) => d.RomajiScript.Equals("ke")' OnItemDropRejected="@((i)=>LastDropped = i)" MaxItems="1" OnItemDropRejectedByMaxItemLimit="ShowMaxItemWarning" OnItemDrop="@((i) => SuccessfulDrop())" >    
                                <div class="flex-item">
                                    @if (textState == TextState.HiraganaMode)
                                    {
                                        @context.HiraganaScript 
                                    }
                                    else
                                    {
                                        @context.KatakanaScript
                                    }
                                </div> 
                            </Dropzone>
                        </div>
                        <div class="divTableCell">
                            <Dropzone class="answer-container" Items="GeList" TItem="AnswerItem" Accepts='(d, t) => d.RomajiScript.Equals("ge")' OnItemDropRejected="@((i)=>LastDropped = i)" MaxItems="1" OnItemDropRejectedByMaxItemLimit="ShowMaxItemWarning" OnItemDrop="@((i) => SuccessfulDrop())" >    
                                <div class="flex-item">
                                    @if (textState == TextState.HiraganaMode)
                                    {
                                        @context.HiraganaScript 
                                    }
                                    else
                                    {
                                        @context.KatakanaScript
                                    }
                                </div> 
                            </Dropzone>
                        </div>
                        <div class="divTableCell">
                            <Dropzone class="answer-container" Items="SeList" TItem="AnswerItem" Accepts='(d, t) => d.RomajiScript.Equals("se")' OnItemDropRejected="@((i)=>LastDropped = i)" MaxItems="1" OnItemDropRejectedByMaxItemLimit="ShowMaxItemWarning" OnItemDrop="@((i) => SuccessfulDrop())" >    
                                <div class="flex-item">
                                    @if (textState == TextState.HiraganaMode)
                                    {
                                        @context.HiraganaScript 
                                    }
                                    else
                                    {
                                        @context.KatakanaScript
                                    }
                                </div> 
                            </Dropzone>
                        </div>
                        <div class="divTableCell">
                            <Dropzone class="answer-container" Items="ZeList"  TItem="AnswerItem" Accepts='(d, t) => d.RomajiScript.Equals("ze")' OnItemDropRejected="@((i)=>LastDropped = i)" MaxItems="1" OnItemDropRejectedByMaxItemLimit="ShowMaxItemWarning" OnItemDrop="@((i) => SuccessfulDrop())" >    
                                <div class="flex-item">
                                    @if (textState == TextState.HiraganaMode)
                                    {
                                        @context.HiraganaScript
                                    }
                                    else
                                    {
                                        @context.KatakanaScript
                                    }
                                </div> 
                            </Dropzone>
                        </div>
                        <div class="divTableCell">
                            <Dropzone class="answer-container" Items="TeList" TItem="AnswerItem" Accepts='(d, t) => d.RomajiScript.Equals("te")' OnItemDropRejected="@((i)=>LastDropped = i)" MaxItems="1" OnItemDropRejectedByMaxItemLimit="ShowMaxItemWarning" OnItemDrop="@((i) => SuccessfulDrop())" >    
                                <div class="flex-item">
                                    @if (textState == TextState.HiraganaMode)
                                    {
                                        @context.HiraganaScript 
                                    }
                                    else
                                    {
                                        @context.KatakanaScript
                                    }
                                </div> 
                            </Dropzone>
                        </div>
                        <div class="divTableCell">
                            <Dropzone class="answer-container" Items="DeList" TItem="AnswerItem" Accepts='(d, t) => d.RomajiScript.Equals("de")' OnItemDropRejected="@((i)=>LastDropped = i)" MaxItems="1" OnItemDropRejectedByMaxItemLimit="ShowMaxItemWarning" OnItemDrop="@((i) => SuccessfulDrop())" >    
                                <div class="flex-item">
                                    @if (textState == TextState.HiraganaMode)
                                    {
                                        @context.HiraganaScript 
                                    }
                                    else
                                    {
                                        @context.KatakanaScript
                                    }
                                </div> 
                            </Dropzone>
                        </div>
                        <div class="divTableCell">
                            <Dropzone class="answer-container" Items="NeList" TItem="AnswerItem" Accepts='(d, t) => d.RomajiScript.Equals("ne")' OnItemDropRejected="@((i)=>LastDropped = i)" MaxItems="1" OnItemDropRejectedByMaxItemLimit="ShowMaxItemWarning" OnItemDrop="@((i) => SuccessfulDrop())" >    
                                <div class="flex-item">
                                    @if (textState == TextState.HiraganaMode)
                                    {
                                        @context.HiraganaScript 
                                    }
                                    else
                                    {
                                        @context.KatakanaScript
                                    }
                                </div> 
                            </Dropzone>
                        </div>
                        <div class="divTableCell">
                            <Dropzone class="answer-container" Items="HeList"  TItem="AnswerItem" Accepts='(d, t) => d.RomajiScript.Equals("he")' OnItemDropRejected="@((i)=>LastDropped = i)" MaxItems="1" OnItemDropRejectedByMaxItemLimit="ShowMaxItemWarning" OnItemDrop="@((i) => SuccessfulDrop())" >    
                                <div class="flex-item">
                                    @if (textState == TextState.HiraganaMode)
                                    {
                                        @context.HiraganaScript
                                    }
                                    else
                                    {
                                        @context.KatakanaScript
                                    }
                                </div> 
                            </Dropzone>
                        </div>
                        <div class="divTableCell">
                            <Dropzone class="answer-container" Items="BeList" TItem="AnswerItem" Accepts='(d, t) => d.RomajiScript.Equals("be")' OnItemDropRejected="@((i)=>LastDropped = i)" MaxItems="1" OnItemDropRejectedByMaxItemLimit="ShowMaxItemWarning" OnItemDrop="@((i) => SuccessfulDrop())" >    
                                <div class="flex-item">
                                    @if (textState == TextState.HiraganaMode)
                                    {
                                        @context.HiraganaScript 
                                    }
                                    else
                                    {
                                        @context.KatakanaScript
                                    }
                                </div> 
                            </Dropzone>
                        </div>
                        <div class="divTableCell">
                            <Dropzone class="answer-container" Items="PeList" TItem="AnswerItem" Accepts='(d, t) => d.RomajiScript.Equals("pe")' OnItemDropRejected="@((i)=>LastDropped = i)" MaxItems="1" OnItemDropRejectedByMaxItemLimit="ShowMaxItemWarning" OnItemDrop="@((i) => SuccessfulDrop())" >    
                                <div class="flex-item">
                                    @if (textState == TextState.HiraganaMode)
                                    {
                                        @context.HiraganaScript 
                                    }
                                    else
                                    {
                                        @context.KatakanaScript
                                    }
                                </div> 
                            </Dropzone>
                        </div>
                        <div class="divTableCell">
                            <Dropzone class="answer-container" Items="MeList" TItem="AnswerItem" Accepts='(d, t) => d.RomajiScript.Equals("me")' OnItemDropRejected="@((i)=>LastDropped = i)" MaxItems="1" OnItemDropRejectedByMaxItemLimit="ShowMaxItemWarning" OnItemDrop="@((i) => SuccessfulDrop())" >    
                                <div class="flex-item">
                                    @if (textState == TextState.HiraganaMode)
                                    {
                                        @context.HiraganaScript 
                                    }
                                    else
                                    {
                                        @context.KatakanaScript
                                    }
                                </div> 
                            </Dropzone>
                        </div>
                        <div class="divEmptyTableCell"></div>
                        <div class="divTableCell">
                            <Dropzone class="answer-container" Items="ReList" TItem="AnswerItem" Accepts='(d, t) => d.RomajiScript.Equals("re")' OnItemDropRejected="@((i)=>LastDropped = i)" MaxItems="1" OnItemDropRejectedByMaxItemLimit="ShowMaxItemWarning" OnItemDrop="@((i) => SuccessfulDrop())" >    
                                <div class="flex-item">
                                    @if (textState == TextState.HiraganaMode)
                                    {
                                        @context.HiraganaScript 
                                    }
                                    else
                                    {
                                        @context.KatakanaScript
                                    }
                                </div> 
                            </Dropzone>
                        </div>
                        <div class="divEmptyTableCell"></div>
                    </div>
                    <!--Fifth row-->
                    <div class="divTableRow">
                        <div class="divTableRowHead">O</div>
                        <div class="divTableCell">
                            <Dropzone class="answer-container" Items="OList"  TItem="AnswerItem" Accepts='(d, t) => d.RomajiScript.Equals("o")' OnItemDropRejected="@((i)=>LastDropped = i)" MaxItems="1" OnItemDropRejectedByMaxItemLimit="ShowMaxItemWarning" OnItemDrop="@((i) => SuccessfulDrop())" >    
                                <div class="flex-item">
                                    @if (textState == TextState.HiraganaMode)
                                    {
                                        @context.HiraganaScript
                                    }
                                    else
                                    {
                                        @context.KatakanaScript
                                    }
                                </div> 
                            </Dropzone>
                        </div>
                        <div class="divTableCell">
                            <Dropzone class="answer-container" Items="KoList" TItem="AnswerItem" Accepts='(d, t) => d.RomajiScript.Equals("ko")' OnItemDropRejected="@((i)=>LastDropped = i)" MaxItems="1" OnItemDropRejectedByMaxItemLimit="ShowMaxItemWarning" OnItemDrop="@((i) => SuccessfulDrop())" >    
                                <div class="flex-item">
                                    @if (textState == TextState.HiraganaMode)
                                    {
                                        @context.HiraganaScript 
                                    }
                                    else
                                    {
                                        @context.KatakanaScript
                                    }
                                </div> 
                            </Dropzone>
                        </div>
                        <div class="divTableCell">
                            <Dropzone class="answer-container" Items="GoList" TItem="AnswerItem" Accepts='(d, t) => d.RomajiScript.Equals("go")' OnItemDropRejected="@((i)=>LastDropped = i)" MaxItems="1" OnItemDropRejectedByMaxItemLimit="ShowMaxItemWarning" OnItemDrop="@((i) => SuccessfulDrop())" >    
                                <div class="flex-item">
                                    @if (textState == TextState.HiraganaMode)
                                    {
                                        @context.HiraganaScript 
                                    }
                                    else
                                    {
                                        @context.KatakanaScript
                                    }
                                </div> 
                            </Dropzone>
                        </div>
                        <div class="divTableCell">
                            <Dropzone class="answer-container" Items="SoList" TItem="AnswerItem" Accepts='(d, t) => d.RomajiScript.Equals("so")' OnItemDropRejected="@((i)=>LastDropped = i)" MaxItems="1" OnItemDropRejectedByMaxItemLimit="ShowMaxItemWarning" OnItemDrop="@((i) => SuccessfulDrop())" >    
                                <div class="flex-item">
                                    @if (textState == TextState.HiraganaMode)
                                    {
                                        @context.HiraganaScript 
                                    }
                                    else
                                    {
                                        @context.KatakanaScript
                                    }
                                </div> 
                            </Dropzone>
                        </div>
                        <div class="divTableCell">
                            <Dropzone class="answer-container" Items="ZoList"  TItem="AnswerItem" Accepts='(d, t) => d.RomajiScript.Equals("zo")' OnItemDropRejected="@((i)=>LastDropped = i)" MaxItems="1" OnItemDropRejectedByMaxItemLimit="ShowMaxItemWarning" OnItemDrop="@((i) => SuccessfulDrop())" >    
                                <div class="flex-item">
                                    @if (textState == TextState.HiraganaMode)
                                    {
                                        @context.HiraganaScript
                                    }
                                    else
                                    {
                                        @context.KatakanaScript
                                    }
                                </div> 
                            </Dropzone>
                        </div>
                        <div class="divTableCell">
                            <Dropzone class="answer-container" Items="ToList" TItem="AnswerItem" Accepts='(d, t) => d.RomajiScript.Equals("to")' OnItemDropRejected="@((i)=>LastDropped = i)" MaxItems="1" OnItemDropRejectedByMaxItemLimit="ShowMaxItemWarning" OnItemDrop="@((i) => SuccessfulDrop())" >    
                                <div class="flex-item">
                                    @if (textState == TextState.HiraganaMode)
                                    {
                                        @context.HiraganaScript 
                                    }
                                    else
                                    {
                                        @context.KatakanaScript
                                    }
                                </div> 
                            </Dropzone>
                        </div>
                        <div class="divTableCell">
                            <Dropzone class="answer-container" Items="DoList" TItem="AnswerItem" Accepts='(d, t) => d.RomajiScript.Equals("do")' OnItemDropRejected="@((i)=>LastDropped = i)" MaxItems="1" OnItemDropRejectedByMaxItemLimit="ShowMaxItemWarning" OnItemDrop="@((i) => SuccessfulDrop())" >    
                                <div class="flex-item">
                                    @if (textState == TextState.HiraganaMode)
                                    {
                                        @context.HiraganaScript 
                                    }
                                    else
                                    {
                                        @context.KatakanaScript
                                    }
                                </div> 
                            </Dropzone>
                        </div>
                        <div class="divTableCell">
                            <Dropzone class="answer-container" Items="NoList" TItem="AnswerItem" Accepts='(d, t) => d.RomajiScript.Equals("no")' OnItemDropRejected="@((i)=>LastDropped = i)" MaxItems="1" OnItemDropRejectedByMaxItemLimit="ShowMaxItemWarning" OnItemDrop="@((i) => SuccessfulDrop())" >    
                                <div class="flex-item">
                                    @if (textState == TextState.HiraganaMode)
                                    {
                                        @context.HiraganaScript 
                                    }
                                    else
                                    {
                                        @context.KatakanaScript
                                    }
                                </div> 
                            </Dropzone>
                        </div>
                        <div class="divTableCell">
                            <Dropzone class="answer-container" Items="HoList"  TItem="AnswerItem" Accepts='(d, t) => d.RomajiScript.Equals("ho")' OnItemDropRejected="@((i)=>LastDropped = i)" MaxItems="1" OnItemDropRejectedByMaxItemLimit="ShowMaxItemWarning" OnItemDrop="@((i) => SuccessfulDrop())" >    
                                <div class="flex-item">
                                    @if (textState == TextState.HiraganaMode)
                                    {
                                        @context.HiraganaScript
                                    }
                                    else
                                    {
                                        @context.KatakanaScript
                                    }
                                </div> 
                            </Dropzone>
                        </div>
                        <div class="divTableCell">
                            <Dropzone class="answer-container" Items="BoList" TItem="AnswerItem" Accepts='(d, t) => d.RomajiScript.Equals("bo")' OnItemDropRejected="@((i)=>LastDropped = i)" MaxItems="1" OnItemDropRejectedByMaxItemLimit="ShowMaxItemWarning" OnItemDrop="@((i) => SuccessfulDrop())" >    
                                <div class="flex-item">
                                    @if (textState == TextState.HiraganaMode)
                                    {
                                        @context.HiraganaScript 
                                    }
                                    else
                                    {
                                        @context.KatakanaScript
                                    }
                                </div> 
                            </Dropzone>
                        </div>
                        <div class="divTableCell">
                            <Dropzone class="answer-container" Items="PoList" TItem="AnswerItem" Accepts='(d, t) => d.RomajiScript.Equals("po")' OnItemDropRejected="@((i)=>LastDropped = i)" MaxItems="1" OnItemDropRejectedByMaxItemLimit="ShowMaxItemWarning" OnItemDrop="@((i) => SuccessfulDrop())" >    
                                <div class="flex-item">
                                    @if (textState == TextState.HiraganaMode)
                                    {
                                        @context.HiraganaScript 
                                    }
                                    else
                                    {
                                        @context.KatakanaScript
                                    }
                                </div> 
                            </Dropzone>
                        </div>
                        <div class="divTableCell">
                            <Dropzone class="answer-container" Items="MoList" TItem="AnswerItem" Accepts='(d, t) => d.RomajiScript.Equals("mo")' OnItemDropRejected="@((i)=>LastDropped = i)" MaxItems="1" OnItemDropRejectedByMaxItemLimit="ShowMaxItemWarning" OnItemDrop="@((i) => SuccessfulDrop())" >    
                                <div class="flex-item">
                                    @if (textState == TextState.HiraganaMode)
                                    {
                                        @context.HiraganaScript 
                                    }
                                    else
                                    {
                                        @context.KatakanaScript
                                    }
                                </div> 
                            </Dropzone>
                        </div>
                        <div class="divTableCell">
                            <Dropzone class="answer-container" Items="YoList" TItem="AnswerItem" Accepts='(d, t) => d.RomajiScript.Equals("yo")' OnItemDropRejected="@((i)=>LastDropped = i)" MaxItems="1" OnItemDropRejectedByMaxItemLimit="ShowMaxItemWarning" OnItemDrop="@((i) => SuccessfulDrop())" >    
                                <div class="flex-item">
                                    @if (textState == TextState.HiraganaMode)
                                    {
                                        @context.HiraganaScript 
                                    }
                                    else
                                    {
                                        @context.KatakanaScript
                                    }
                                </div> 
                            </Dropzone>
                        </div>
                        <div class="divTableCell">
                            <Dropzone class="answer-container" Items="RoList" TItem="AnswerItem" Accepts='(d, t) => d.RomajiScript.Equals("ro")' OnItemDropRejected="@((i)=>LastDropped = i)" MaxItems="1" OnItemDropRejectedByMaxItemLimit="ShowMaxItemWarning" OnItemDrop="@((i) => SuccessfulDrop())" >    
                                <div class="flex-item">
                                    @if (textState == TextState.HiraganaMode)
                                    {
                                        @context.HiraganaScript 
                                    }
                                    else
                                    {
                                        @context.KatakanaScript
                                    }
                                </div> 
                            </Dropzone>
                        </div>
                        <div class="divTableCell">
                            <Dropzone class="answer-container" Items="WoList" TItem="AnswerItem" Accepts='(d, t) => d.RomajiScript.Equals("wo")' OnItemDropRejected="@((i)=>LastDropped = i)" MaxItems="1" OnItemDropRejectedByMaxItemLimit="ShowMaxItemWarning" OnItemDrop="@((i) => SuccessfulDrop())" >    
                                <div class="flex-item">
                                    @if (textState == TextState.HiraganaMode)
                                    {
                                        @context.HiraganaScript 
                                    }
                                    else
                                    {
                                        @context.KatakanaScript
                                    }
                                </div> 
                            </Dropzone>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="@mixedButtonVisibility">
        <button class="btn btn-secondary" @onclick="SwapKana">Swap Kana</button>
    </div>
    <button class="btn btn-primary" @onclick="ResetGame">Reset</button>
</div>


@code{
    // Unfortunately the http client doesn't seem to want to work in the code behind file
    // So we've got to do this weirdness
    protected override async Task OnInitializedAsync()
    {
        masterAnswers = await Http.GetFromJsonAsync<Answers>("data/CharacterList.json");
    }
}